@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome jenkins Monday4</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with .NET Core</a>.</p>
</div>
